<section class="contacts">
    <div class="container">
        <ul class="cards-list">
            <li class="card">
                <div class="card-container">
                    <h4 class="contact-title">cafe</h4>
                    <div class="contacts-card-content">
                        <span class="contacts-heading">Chicago</span>
                        <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <ul class="timetable">
                            <li class="timetable-item">
                                <span class="contacts-heading">Monday - Friday</span>
                                <p class="work-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="timetable-item">
                                <span class="contacts-heading">Saturday - Sunday</span>
                                <p class="work-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <ul class="conact-list">
                            <li class="adress-item"><a href="tel:+610383766284" class="link">+61(0) 383 766 284</a></li>
                            <li class="adress-item"><a href="mailto:noreply@envato.com"
                                    class="link">noreply@envato.com</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="card-container">
                    <h4 class="contact-title">foodtruck</h4>
                    <div class="contacts-card-content">
                        <span class="contacts-heading">Los Angeles</span>
                        <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <ul class="timetable">
                            <li class="timetable-item">
                                <span class="contacts-heading">Monday - Friday</span>
                                <p class="work-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="timetable-item">
                                <span class="contacts-heading">Saturday - Sunday</span>
                                <p class="work-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <ul class="conact-list">
                            <li class="adress-item"><a href="tel:+610383766284" class="link">+61(0) 383 766 284</a></li>
                            <li class="adress-item"><a href="mailto:noreply@envato.com"
                                    class="link">noreply@envato.com</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="card">
                <div class="card-container">
                    <h4 class="contact-title">cafe</h4>
                    <div class="contacts-card-content">
                        <span class="contacts-heading">New York</span>
                        <p class="contacts-description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        <ul class="timetable">
                            <li class="timetable-item">
                                <span class="contacts-heading">Monday - Friday</span>
                                <p class="work-time">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="timetable-item">
                                <span class="contacts-heading">Saturday - Sunday</span>
                                <p class="work-time">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                        <ul class="conact-list">
                            <li class="adress-item"><a href="tel:+610383766284" class="link">+61(0) 383 766 284</a></li>
                            <li class="adress-item"><a href="mailto:noreply@envato.com"
                                    class="link">noreply@envato.com</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="buttons-list list">
            <li>
                <button class="hero-button">Our Locations
                    <svg width="10" height="10">
                        <use href="./images/icons/IceCreamIcons.svg#icon-Vector"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="hero-button">Franchise
                    <svg width="10" height="10">
                        <use href="./images/icons/IceCreamIcons.svg#icon-Vector"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>