<section class="hero">
      <div class="container">
      
      <img class="hero-ice" src="/images/sosna/slider1.png" alt="Мороженное"/>
        <img class="hero-ellipce"  src="/images/sosna/ellipse.png" alt="Эллипс" />
     



            <h1 class="hero-title">
          ice cream made with </h1>
          <h2 class="hero-span">passion</h2>
           
        <ul class="button">
            <li class="name-product">
                <h2 class="link-product">Products</h2>
            </li>
            <li class="name-made">
                  <h2  class="link-made">How it’s made?</h2>
            </li>
            <ul>

            
      </div>
      <div class="bioeco">
      </div>


    </section>
