<header id="header">
    <div class="container">
        <div class="header-container">
            <!-- Логотип страницы -->
            <a href="./index.html" class="logo"><img src="./images/logo.png"></a>
            <!-- Навигация страницы -->
            <nav class="nav-contacts" id="nav-contacts" data-menu> 
                <ul class="nav">
                    <li class="item">
                        <a href="./index.html" class="link active">Home</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">About us</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">How it’s made?</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">Our products</a>
                    </li>
                    <li class="item">
                        <a href="#" class="link">Contact</a>
                    </li>
                </ul>
                <button class="button-buy">
                    <a>Buy now</a>
                </button>
            </nav>
            <button class="menu-button" type="button" aria-controls="main-nav" aria-expanded="false" data-menu-button>
                <svg width="40" height="40" aria-label="Переключатель мобильного меню">
                    <!-- <use class="icon-menu" href="./images/sprite.svg#icon-mobile-menu"></use>
                    <use class="icon-close-menu" href="./images/sprite.svg#icon-mobile-menu-close"></use> -->
                </svg>
            </button>
        </div>
    </div>
</header>
<main class="main">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sunt totam esse accusamus laudantium veniam autem voluptatum officia rem quae accusantium dignissimos, excepturi tempore, corporis magni consequuntur unde, soluta eligendi?</p>
</main>