.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.container--size {
  width: 100%;
  padding-top: 6px;
  height: 100%;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }

  @media screen and (min-width: 1200px) {
    padding-right: 100px;
    padding-left: 46px;
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  // background: black;
  // border-radius: 25px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 5;
    //   position: relative;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

//   Логотип
.logo {
  @media screen and (min-width: 1200px) {
    //   margin-right: 110px;
    margin-right: auto;
  }
}

.menu {
  display: block;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-openMob {
  margin-left: 61px;
  border: none;
  background: transparent;

  @media screen and (min-width: 768px) {
    margin-left: 291px;
  }
}

.menu-svg {
  fill: $accent-color;
  display: flex;
}

// Десктопное меню
.menu-list__pc {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.menu-list__item-pc {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }
}

.menu-list__link-pc {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: $primary-text-color;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-wrapper__div {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    //   margin-left: 110px;
    margin-left: auto;
  }
}

.menu-wrapper__button {
  display: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 37px;
  border: none;
  border-radius: 22px;
  color: $accent-color;
  background: $primary-text-color;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  transition: color 200ms linear, background-color 200ms linear;

  &::after {
    content: '';
    display: inline-block;
    background: url('../images/icons/vector.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    margin-left: 13px;
  }

  &:hover::after,
  &:focus::after {
    content: '';
    display: inline-block;
    background: url('../images/icons/vector-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    margin-left: 13px;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-text-color;
  }
}

.menu-container {
  position: fixed;
  top: -6px;
  right: 0;
  z-index: 200;
  background: #e17992;
  padding-top: 60px;
  padding-bottom: 171px;
  width: 250px;
  opacity: 1;
  transition: opacity 250ms linear;

  @media screen and (min-width: 768px) {
    width: 254px;
    right: 0;
    padding-top: 60px;
    padding-bottom: 689px;
  }
}

.menu-container.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu-mobClose {
  position: absolute;
  top: 23px;
  right: 23px;
  border: none;
  background: transparent;

  @media screen and (min-width: 768px) {
    top: 23px;
    right: 34px;
  }
}

.menu__svg-close {
  display: block;
}

.button-open {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 11px 53px;
  margin-bottom: 19px;
  border: none;
  border-radius: 22px;
  color: $accent-color;
  background: $primary-text-color;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  @media screen and (min-width: 768px) {
    padding: 12px 42px;
  }

  &::after {
    content: '';
    display: inline-block;
    background: url('../images/icons/vector.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    margin-left: 13px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-left: 30px;
    }
  }

  &:hover::after,
  &:focus::after {
    content: '';
    display: inline-block;
    background: url('../images/icons/vector-white.svg');
    fill: $primary-text-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 7px;
    height: 10px;
    margin-left: 13px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 30px;
    }
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-text-color;
  }
}

//   Мобильное меню
.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list__item {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-top: 1px solid #e18298;

  &:last-child {
    border-bottom: 1px solid #e18298;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-top: 1px solid #e18298;

    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }
}

.menu-list__link {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-decoration: none;
  color: $primary-text-color;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
